body{
    text-align:center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    top:0;
    bottom:0;
    margin:5px 5px 5px 5px;
    height: 100%;
    width: 100%;
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
}

div {
    height: 100%;
    width: 100%;
}

a {
    color: #000000;
}

a:hover {
    color: #FF0000;
}

.main-link {
    font-size:1.3em;
    text-decoration:none;
    margin-bottom: 35px;
}

.sub-link a {
    font-size:1em;
    text-decoration:none;

}

.sub-link {
    margin-top: 1px;
}

#header{
    height:100px;
    background-color:#bf0a00;
    color: #FFFFFF;
    margin:0;
    padding:0;
}

#header h1{
    margin:0;
    padding:10px;
}

#header h1 a{
    color:#000000;
    background-color:#F3F2ED;
}

#contentPane{
    width: 80%;
    float: right;
    background: #e1e1e1;
    border-top:#FFFFFF 2px solid;
    margin:0;
    padding:0;
    text-align:left;
}

#content{
    scroll-snap-margin-right:15px;
    margin-right:15px;
    margin-left:15px;
    overflow-y: scroll;
}

#content div {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
}

#content a {
    text-decoration: none;
    font-weight: bold;
}

#main{
    width: 100%;
    height: 80%;
}

#navPane{
    width: 20%;
    float: left;
    background: #bebebe;
    border-top:#FFFFFF 2px solid;
    margin:0;
    padding:0;
    text-align:left;
    min-width: 200px;
}

#nav{
    margin:15px;
}

#navFull{
    height:50px;
    background-color: #b3acae;
    border-top:#FFFFFF 2px solid;
    margin:0;
    padding:0;
}

#footer{
    height:50px;
    width: 100%;
    float: left;
    background: #bf0a00;
    color: #FFFFFF;
    border-top:#FFFFFF 2px solid;
    margin:0;
    padding:0;
}